<!DOCTYPE html>

<html lang="es"
  class="wf-poppins-n3-active wf-poppins-n4-active wf-poppins-n5-active wf-poppins-n6-active wf-poppins-n7-active wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n5-active wf-roboto-n6-active wf-roboto-n7-active wf-active">
<!-- begin::Head -->

<head>
  <meta charset="utf-8">

  <title>Proguard VPN Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

  <!--begin::Web font -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <link rel="stylesheet"
    href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto:300,400,500,600,700" media="all">
  <script>
    WebFont.load({
      google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
      active: function () {
        sessionStorage.fonts = true;
      }
    });
  </script>
  <!--end::Web font -->

  <!--begin::Page Vendors Styles -->
  <link href="/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css">
  <!--end::Page Vendors Styles -->

  <!--begin::Base Styles -->
  <link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css">
  <link href="/assets/style.bundle.css" rel="stylesheet" type="text/css">
  <link href="/style.bundle.css" rel="stylesheet" type="text/css">
  <link href="/assets/own/css/app.css" rel="stylesheet">
  <!--end::Base Styles -->

  <link rel="shortcut icon" href="/assets/own/img/favicon.ico">
  <style type="text/css">
    span.im-caret {
      -webkit-animation: 1s blink step-end infinite;
      animation: 1s blink step-end infinite;
    }

    @keyframes blink {

      from,
      to {
        border-right-color: black;
      }

      50% {
        border-right-color: transparent;
      }
    }

    @-webkit-keyframes blink {

      from,
      to {
        border-right-color: black;
      }

      50% {
        border-right-color: transparent;
      }
    }

    span.im-static {
      color: grey;
    }

    div.im-colormask {
      display: inline-block;
      border-style: inset;
      border-width: 2px;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    div.im-colormask>input {
      position: absolute;
      display: inline-block;
      background-color: transparent;
      color: transparent;
      -webkit-appearance: caret;
      -moz-appearance: caret;
      appearance: caret;
      border-style: none;
      left: 0;
      /*calculated*/
    }

    div.im-colormask>input:focus {
      outline: none;
    }

    div.im-colormask>input::-moz-selection {
      background: none;
    }

    div.im-colormask>input::selection {
      background: none;
    }

    div.im-colormask>input::-moz-selection {
      background: none;
    }

    div.im-colormask>div {
      color: black;
      display: inline-block;
      width: 100px;
      /*calculated*/
    }
  </style>
  <style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    @keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      -webkit-animation: chartjs-render-animation 0.001s;
      animation: chartjs-render-animation 0.001s;
    }
  </style>
</head>
<!-- end::Head -->


<!-- begin::Body -->

<body
  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

  <!-- begin:: Page -->
  <div class="m-grid m-grid--hor m-grid--root m-page">

    <div
      class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1"
      id="m_login" style="background: #222222;">
      <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
        <div class="m-login__container">
          <div class="m-login__logo">
            <a href="#">
              <img src="assets/own/img/logo.svg">
            </a>
          </div>
          <div class="m-login__signin">
            <div class="m-login__head">
              <h3 class="m-login__title">Proguard VPN Management</h3>
            </div>
            <form id="loginForm" class="m-login__form m-form" action="/auth/bologin" method="POST">
              {{#if failedLogin}}
                <div class="form-group m-form__group">
                  <div class="alert alert-danger" role="alert">
                    El usuario y/o contraseña son incorrectos. Por favor intente nuevamente.
                  </div>
                </div>
              {{/if}}
              {{#if deactivated}}
                <div class="form-group m-form__group">
                  <div class="alert alert-danger" role="alert">
                    El usuario ha sido deshabilitado. Contáctese con un administrador del sistema.
                  </div>
                </div>
              {{/if}}
              <div class="form-group m-form__group">
                <input class="form-control m-input" id="email" type="text" placeholder="Email" name="email" autocomplete="off">
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input m-login__form-input--last" id="password" type="password" placeholder="Password"
                  name="password">
              </div>
              <div class="m-login__form-action">
                <button type="submit"
                  class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary">
                  Log In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end:: Page -->


  <!--begin::Base Scripts -->
  <script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
  <script src="/assets/scripts.bundle.js" type="text/javascript"></script>
  <!--end::Base Scripts -->

  <!-- MD5 library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.16.0/js/md5.min.js"></script>

  <!-- Validate login form -->
  <script>
    $('#loginForm').validate({
      rules: {
        email: {
          required: true,
          email: true
        },
        password: {
          required: true
        }
      },
      messages: {
        email: 'Please enter your email.',
        password: 'Please enter your password.'
      },
      submitHandler: function (form) {
        const password = document.getElementById('password');
        password.value = md5(password.value);
        form.submit();
      }
    });
  </script>

</body>

</html>